*{
margin:0;
padding:0; 
}
#header{
	background:#7CA1F1;
	padding:5px;
}
#header h2{
color: #ffffff;
}
#header p{
	color:#ffffff;
	font-style:italic;
	margin-left:20px;
}
.menubar_class{
	background:#C32A2F;
	height:18px;
	padding:10px 20px;
	text-align:center;
}	
#menu{
	padding:0;
	list-style-type:none; 
}


#menu ul{
	
}
#menu li{
	display:inline;
	
}
#menu ul li:first-child{
	
}
#menu ul li:last-child{
	
}
#menu  li a{
	color:#ffffff;
	padding:10px 20px;
	text-decoration:none;
	
}
#menu  li a:hover{
	background:#450917;
}
.registration_wrapper{
	text-align:center;
	margin-left:300px;
}
#adminform{
	color:green;
}
#userform{
	color:red;
}
#journalistform{
	color:blue;
}#newsEditorform{
	color:#ff4000;
}
#footer{
	background:#D3BC94;
	height:42px;
	text-align:center;
}