.profile_wrap{
	margin-left:400px;
	padding:10px;
	background:#E8E8FF;
	border:1px solid #4DE44D;
}
.search_wrap{
	margin-left:50px;
	padding:10px;
	background:#E8E8FF;
	border:1px solid #4DE44D;
}
.searchr_wrap{
	margin-left:250px;
	padding:10px;
	background:#E8E8FF;
	border:1px solid #4DE44D;
}
h1{
	color:#DA1F26;
	
	
	
}