.profile_wrap{
	margin-left:400px;
	padding:10px;
	background:#E8E8FF;
	border:1px solid #4DE44D;
}
.search_wrap{
	margin-left:50px;
	padding:10px;
	background:#E8E8FF;
	border:1px solid #4DE44D;
}
.searchr_wrap{
	margin-left:250px;
	padding:10px;
	background:#E8E8FF;
	border:1px solid #4DE44D;
}
h1{
	color:#DA1F26;
	font-size:25px;
	
}

#buttonsearch{
	width:70px;
	background:#FD6161;
	height:25px;
	border-radius:5px;
}
#search{
	width:150px;
	height:20px;
	background:#5DADE2;
}
#uname{
	width:150px;
	height:20px;
	background:#5DADE2;
}